#Issue: Missing Values.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/df_missing_100.csv')

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.rename(columns={df.columns[0]:'serial number'}, inplace=True)

In [ ]:
df.info()

## Method-1

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)  # Fill continuous with mean
df['Salary'].fillna(df['Salary'].median(), inplace=True)  # Fill continuous with mean

In [ ]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)  # Fill categorical with mode
df['Department'].fillna(df['Department'].mode()[0], inplace=True)  # Fill categorical with mode

In [ ]:
df.isnull().sum()

## Method-2

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [ ]:
df_1=pd.read_csv('https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/df_missing_100.csv')

In [ ]:
df_1.isnull().sum()

In [ ]:
# Clean the dataset by imputing missing values
# Impute continuous data with the mean
continuous_imputer = SimpleImputer(strategy='mean')
df_1[['Age', 'Salary']] = continuous_imputer.fit_transform(df_1[['Age', 'Salary']])

# Impute categorical data with the mode (most frequent)
categorical_imputer = SimpleImputer(strategy='most_frequent')
df_1[['Gender', 'Department']] = categorical_imputer.fit_transform(df_1[['Gender', 'Department']])

In [ ]:
df_1.isnull().sum()

# Issue: Duplicate Rows

## Type-1

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/duplicate_dataset.csv")

# Find duplicate rows (excluding the first occurrence)
duplicates = df[df.duplicated()]
print(duplicates)

In [ ]:
df.value_counts().reset_index(name="Count")

In [ ]:
# Remove all duplicate rows (keeping only unique ones)
df_unique = df.drop_duplicates(keep=False)

In [ ]:
df_unique.value_counts().reset_index(name="Count")

## Type-2

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/duplicate_dataset-1.csv")

# Find duplicate rows (excluding the first occurrence)
# duplicates = df[df.duplicated()]
print(df[df.duplicated()])

In [ ]:
df.info()

In [ ]:
print(df.head(25))

In [ ]:
df_1=df.drop(['ID'],axis=1)
df_1.value_counts().reset_index(name="Count")

In [ ]:
# Remove all duplicate rows (keeping only unique ones)
df_unique_1 = df_1.drop_duplicates(keep=False)

In [ ]:
df_unique_1.value_counts().reset_index(name="Count")

# Issue: Outliers

## Type-1

In [ ]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/mixed_outliers_dataset.csv")

In [ ]:
df.head(30)

In [ ]:
df.describe()

Identify outliers for numerical data

In [ ]:
df.info()

Age

In [ ]:
    Q1 = df['Age'].quantile(0.25)
    Q3 = df['Age'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

In [ ]:
df.loc[(df['Age'] < lower_bound) | (df['Age'] > upper_bound), 'Age'] = df['Age'].median()

Salary

In [ ]:
    Q1 = df['Salary ($)'].quantile(0.25)
    Q3 = df['Salary ($)'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

In [ ]:
df.loc[(df['Salary ($)'] < lower_bound) | (df['Salary ($)'] > upper_bound), 'Salary ($)'] = df['Salary ($)'].median()

Satisfaction Level

In [ ]:
    Q1 = df['Satisfaction Score'].quantile(0.25)
    Q3 = df['Satisfaction Score'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df.loc[(df['Satisfaction Score'] < lower_bound) | (df['Satisfaction Score'] > upper_bound), 'Satisfaction Score'] = df['Satisfaction Score'].median()

In [ ]:
df.describe()

## Type-2

In [ ]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/mixed_outliers_dataset.csv")

In [ ]:
df.info()

In [ ]:
df[['Age']].transpose()

In [ ]:
df[['Age']].quantile([0,0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]).transpose()

In [ ]:
df[['Age']].quantile([0,0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1]).transpose()

3% outliers...>66 are outliers.

In [ ]:
df.loc[(df["Age"] > 10), "Age"] = df["Age"].median()

In [ ]:
df[['Salary ($)']].quantile([0,0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]).transpose()

In [ ]:
df[['Salary ($)']].quantile([0,0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1]).transpose()

4% outliers....>64000 are outliers

In [ ]:
df.loc[(df["Salary ($)"] > 10), "Salary ($)"] = df["Salary ($)"].median()

In [ ]:
df[['Satisfaction Score']].quantile([0,0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]).transpose()

In [ ]:
df[['Satisfaction Score']].quantile([0,0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1]).transpose()

3% outliers......>10 are outliers and <0 are outliers

In [ ]:
df.loc[(df["Satisfaction Score"] > 10) | (df["Satisfaction Score"] < 0), "Satisfaction Score"] = df["Satisfaction Score"].median()

In [ ]:
df.describe()

# Cross tab

In [ ]:
import pandas as pd
import numpy as np

# Step 1: Create the initial data with 'Unknown' values
data = {
    'Employee ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Department': ['IT', 'IT', 'Unknown', 'HR', 'HR', 'Unknown', 'Finance', 'Finance', 'Sales', 'Unknown'],
    'Salary': [85000, 95000, 90000, 60000, 55000, 50000, 88000, 110000, 75000, 45000],
    'Experience': [3, 5, 4, 2, 1, 3, 6, 7, 4, 2],
    'Promotion': ['Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No']
}

# Convert the data to a DataFrame
df = pd.DataFrame(data)

In [ ]:
df['Department'].value_counts()

In [ ]:
# Step 2: Cross-tabulate the Department and Promotion, including 'Unknown'
cross_tab = pd.crosstab(df['Department'], df['Promotion'], normalize='index') * 100
cross_tab

In [ ]:
df['Department'] = df['Department'].replace('Unknown', 'IT') # Imputation

In [ ]:
df['Department'].value_counts()

In [ ]:
pd.crosstab(df['Department'], df['Promotion'], normalize='index') * 100

# Case Study: Give me some credit

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/cs-training.csv')

## basic data exploration

In [ ]:
data.info()

In [ ]:
data.columns

In [ ]:
data.describe()

In [ ]:
data.describe().transpose()

In [ ]:
data.describe(percentiles=[0.25,0.5,0.75,0.90,0.95,0.99]).transpose()

In [ ]:
data.dtypes

In [ ]:
data.head(10)

In [ ]:
data.sample(10)

In [ ]:
#Check if column names are repeating
data.columns.value_counts()

discrete/categorical exploration

In [ ]:
data['SeriousDlqin2yrs'].nunique()

In [ ]:
for col in data.columns:
    print("------------------------------------")
    print(f"Unique values in {col}: {data[col].nunique()}")
    print("------------------------------------")

In [ ]:
data['SeriousDlqin2yrs'].value_counts()

In [ ]:
for col in data.columns:
    print("------------------------------------")
    print(f"Unique values in {col}: ")
    print("                      ")
    counts=data[[col]].value_counts()
    print(counts)
    print("------------------------------------")

In [ ]:
for col in data.columns:
    print("------------------------------------")
    print(f"Unique values in {col}: {data[col].value_counts(normalize=True) * 100} ")
    print("                      ")
    # counts=data[[col]].value_counts()
    # print(counts)
    print("------------------------------------")

## categorical/discrete variable exploration

Serious delinquency

In [ ]:
sns.countplot(x  = "SeriousDlqin2yrs" , data = data)

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x='NumberOfDependents', hue = "SeriousDlqin2yrs" , data = data)
plt.show()

In [ ]:
pd.crosstab(data['NumberOfDependents'], data['SeriousDlqin2yrs'])

In [ ]:
pd.crosstab(data['NumberOfDependents'], data['SeriousDlqin2yrs'], normalize='index')*100

In [ ]:
plt.figure(figsize=(6,4))
sns.boxplot(data=data, x='SeriousDlqin2yrs', y='MonthlyIncome')
plt.title('Salary Distribution by Gender')
plt.show()

In [ ]:
plt.figure(figsize=(15,8))
sns.boxplot(data=data, x='NumberOfDependents', y='DebtRatio')
plt.title('Salary Distribution by Gender')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# df=data.copy()
for col in data.select_dtypes(include=['int64', 'float64']).columns:
    plt.figure(figsize=(6,4))
    sns.histplot(data[col], bins=30, kde=True, color='lightblue')
    plt.title(f"Distribution of {col}")
    plt.xlabel(col)
    plt.ylabel("Frequency")
    plt.show()

## continuous variable exploration

Different cases of missing values.

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/ujwaldeepk/Datasets/refs/heads/main/Lab/Lec02-Data_Cleaning/all_missing_values.csv')

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()/len(df)

>50 missing

In [ ]:
df['C_missing_flag'] = 1
df.loc[df['C'].isnull(), 'C_missing_flag'] = 0

10-50 missing

In [ ]:
df['D_missing_flag'] = 1
df.loc[df['D'].isnull(), 'D_missing_flag'] = 0 #df['D'].median()

In [ ]:
df['D_new'] = df['D']#.copy()
df.loc[df['D'].isnull(), 'D_new'] = df['D'].median()

<10 missing

In [ ]:
df['E_new'] = df['E']#.copy()
df.loc[df['E'].isnull(), 'E_new'] = df['E'].median()

In [ ]:
df.head(10)

dropping original columns is optional... you can keep them, but dont use them

In [ ]:
# Drop the original columns with missing values
#df.drop(columns=['C'], inplace=True)